In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')

In [3]:
ratings = pd.read_csv('ratings.csv')

In [4]:
power = pd.read_csv('power.csv')

In [5]:
for df in [movies, ratings, power]:
    display(df.info())
    display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

None

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

None

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

None

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

### Определите, какому фильму было выставлено больше всего оценок 5.0.

In [6]:
top_rate = ratings.query('rating == 5.0')['movieId'].value_counts().reset_index().head(1)
top_rate.merge(movies, left_on = 'index', right_on='movieId')['title'][0]

'Shawshank Redemption, The (1994)'

### Посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [7]:
baltic_countries = ['Latvia', 'Lithuania', 'Estonia']
selected_categories = [4, 12, 21]
year_from = 2005
year_to = 2010
result = power[
        (power['country'].isin(baltic_countries)) &
        (power['category'].isin(selected_categories)) &
        (power['year'] >= year_from) &
        (power['year'] <= year_to) &
        (power['quantity'] >= 0)
]
result['quantity'].sum()

240580.0