In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('movies_stats.csv')

In [7]:
df.head(10)

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
5,1,1263,2.0,1260759151,"Deer Hunter, The (1978)",Drama|War
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama
7,1,1293,2.0,1260759148,Gandhi (1982),Drama
8,1,1339,3.5,1260759125,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller
9,1,1343,2.0,1260759131,Cape Fear (1991),Thriller

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
 4   title      100004 non-null  object
 5   genres     100004 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 4.6+ MB

In [1]:
years = list(range(1950, 2011))

In [8]:
def production_year(title, years):
    for year in years:
        if f'({year})' in title:
            return year
    return 1900

In [9]:
df['year'] = df['title'].apply(lambda x: production_year(x, years))

In [14]:
df['year'].isna().sum()

0

In [17]:
len(df.query('year == 1900 and year not in title'))

6929

In [18]:
average_ratings = df.groupby(by = 'year')['rating'].mean().sort_values(ascending=False)
average_ratings

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.355945
Name: rating, Length: 62, dtype: float64